.gpt3__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-footer);
}

.gpt3__footer-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04rem;
  }
}

.gpt3__footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 10rem;
  cursor: pointer;
  border-radius: 5px;
  background: var(--gradient-text);

  button {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 21px;
    color: black;
    word-spacing: 2px;
    background: var(--gradient-text);
    border: none;
    cursor: pointer;
    padding: 2rem;
    border-radius: 5px;
  }
}

.gpt3__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: left;
  margin-top: -50px;

  div {
    width: 250px;
    margin: 1rem;
  }
}

.gpt3__footer-links_logo {
  display: flex;
  flex-direction: column;

  img {
    width: 118px;
    height: 100px;
    margin-bottom: 1rem;
  }
}

.gpt3__footer-links_logo p {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 14px;
  color: var(--color-white);
}

.gpt3__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  h4 {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 800;
    line-height: 16px;
    color: var(--color-white);
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 14px;
    color: var(--color-white);
    margin: 1rem 0;
    cursor: pointer;
  }
}

.gpt3__footer-get_in_touch {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  h4 {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 800;
    line-height: 16px;
    color: var(--color-white);
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 14px;
    color: var(--color-white);
    margin: 1rem 0;
  }
}

.gpt3__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;

  p {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 14px;
    color: var(--color-white);
  }
}

@media screen and (max-width: 850px) {
  .gpt3__footer-heading h1 {
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__footer-heading h1 {
    font-size: 34px;
    line-height: 42px;
  }

  .gpt3__footer-links div {
    margin: 1rem 0;
  }

  .gpt3__footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .gpt3__footer-heading h1 {
    font-size: 27px;
    line-height: 38px;
  }
}
