.home-page-container {
  padding-top: 5vh;
  font-size: 37px;
  width: 85vw;
  margin: auto;
}

.image-container {
  padding-bottom: 20px;

  img {
    width: 300px;
    height: 300px;
  }
}

.intro-container {
  text-align: center;
}

.intro-text-container {
  margin: auto;
  padding: 10px 0;
  transition: all var(--animateTime) ease;
}

.accents {
  color: var(--accentColor);
}

.animate {
  transform: scale(1.2);
  color: var(--background-color);
}

.github-link {
  color: var(--accentColor);
  text-decoration: underline;
}

.invite-container {
  display: flex;
  justify-content: center;
  margin: auto;

  span {
    transition: all var(--animateTime) ease;
    cursor: pointer;
    padding-top: 45px;
    font-size: 35px;
    text-decoration: underline;
    color: var(--accentColor);

    &:hover {
      font-size: 36px;
      letter-spacing: 1px;
    }
  }
}

.learn-more {
  cursor: pointer;
}

.divider {
  width: 100px;
  height: 3px;
  background-color: var(--accentColor);
  margin: 10vh auto;
}

.main-container {
  margin: auto;
}

.quote-container {
  margin-top: 3vh;
  color: var(--accentColor);
}

.app-discuss-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  overflow: auto;

  .buttons {
    transition: all var(--animateTime) ease;
    padding: 40px 120px;
    margin-top: 50px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 1px;
    max-height: 120px;
  }

  .divs {
    margin-top: 30px;
  }
}

.gpt3-button {
  box-shadow: 0px 6px 7px 0px var(--accentColor);
  color: var(--text-color);
  &:hover {
    padding: 33px;
    color: var(--text-color);
    background-color: var(--gpt3-color);
  }
}

.gpt3-object-link {
  color: var(--gpt3-color);
  &:hover {
    text-decoration: underline;
  }
}

.monster-rolodex-button {
  box-shadow: 0px 6px 7px 0px var(--accentColor);
  color: var(--text-color);

  &:hover {
    padding: 33px;
    color: var(--text-color);
    background-color: var(--monster-color);
  }
}

.monster-object-link {
  color: var(--monster-color);
  &:hover {
    text-decoration: underline;
  }
}

.crown-clothing-button {
  box-shadow: 0px 6px 7px 0px var(--accentColor);
  color: var(--text-color);
  &:hover {
    padding: 33px;
    color: var(--text-color);
    background-color: var(--crown-color);
  }
}

.crown-object-link {
  color: var(--crown-color);
  &:hover {
    text-decoration: underline;
  }
}

.fourth-button {
  box-shadow: 0px 6px 7px 0px var(--accentColor);
  color: var(--text-color);
  &:hover {
    padding: 33px;
    background-color: var(--fourth-color);
    color: var(--text-color);
  }
} //not done

.fourth-object-link {
  color: var(--fourth-color);
  &:hover {
    text-decoration: underline;
  }
}

.resume-button {
  box-shadow: 0px 6px 7px 0px var(--accentColor);
  color: var(--text-color);
  &:hover {
    padding: 33px;
    color: var(--accentColor1);
    background-color: var(--resume-color);
    color: var(--text-color);
  }
}

.resume-title-exp {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.resume-links {
  color: var(--accentColor);
  &:hover {
    text-decoration: underline;
  }
}

.resume-divider {
  width: 100%;
  height: 1px;
  background-color: var(--accentColor);
  margin: 80px 0;
}

.resume-job-categories {
  color: var(--accentColor);
}
